html , body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcb31b;
}

.box{
    border: solid 2px black;
    width: 90vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(6,14.28%) auto;
    background: rgba(0,0,0,0.6);
    border-radius: 2%;
}

#ac, #c{
    background:  rgb(202, 10, 10);
}

#query, #result{
    grid-column: 1/ span 3;
    margin: 3px;
    text-align: right;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    font-size: 250%;
    padding: 15px;
    color: white;
    font-weight: 600;
}

#result{
    margin-top: 0px;
}

#query{
    margin-bottom: 0;
    border-top-left-radius: 10%;
}

#equal{
    grid-row: 6/ span 2;
    grid-column: 4/ span 1;
    background: green;
}

button{
    font-weight: 500;
    border-radius: 8%;
    font-size: 180%;
    margin: 5px;
    color: white;
    background: rgba(0,0,0,0.6);
    box-shadow: 4px 4px rgba(0,0,0,1);
    outline: none;
}

button:active{
    box-shadow: none;
    border: solid thin orange;
}

button:hover{
    font-size: 250%;
    font-weight: 900;
}